<div ng-show="loggedIn">
  

  <nav class="navbar navbar-default third-header">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div>
        <!--<ul class="nav navbar-nav pull-left">
          <li><a id="third-header-title">ETo Tracker</a></li>
        </ul> MAYBE ONLY SHOW IN TABLET OR MOBILE VIEW -->
        <ul class="nav navbar-nav pull-left">
          <li><a ng-class="{ 'active_menu_item': viewState==0 }" ng-click="viewState = 0">Manage Locations</a></li>
          <li><a ng-class="{ 'active_menu_item': viewState==1 }" ng-click="viewState = 1">Daily Prediction</a></li>
          <li><a ng-class="{ 'active_menu_item': viewState==2 }" ng-click="viewState = 2">Prediction History</a></li>
        </ul>        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <div class="container">

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="xyz"> <!-- container-fluid -->
            <div class="row">
  

                  <div ng-switch="viewState">
                      <div ng-switch-when="0"> <!-- Manage Locations -->
                      
                        <div ng-show="locations.length != 0" class="pull-left">
                            <form ng-submit="addLocation()" class="form-inline">
                              <div class="form-group">
                                <input id="search_box" type="text" class="form-control" placeholder="Enter address or zipcode or lat,lon to get started" ng-model="location.name">
                              </div>
                              <button ng-click="addLocation()" type="button" class="btn btn-default">
                                <span id="search_button" class="glyphicon glyphicon-search" aria-hidden="true"></span>
                              </button>
                            </form>    
                        </div>                      
                        <div ng-hide="locations.length != 0" class="col-sm-offset-2 col-sm-6 col-lg-offset-3 col-lg-6">
                            <form ng-submit="addLocation()" class="form-inline">
                              <div class="form-group">
                                <input id="search_box" type="text" class="form-control" placeholder="Enter address or zipcode or lat,lon to get started" ng-model="location.name">
                              </div>
                              <button ng-click="addLocation()" type="button" class="btn btn-default">
                                <span id="search_button" class="glyphicon glyphicon-search" aria-hidden="true"></span>
                              </button>
                            </form>    
                        </div>

                        <div class='map' ui-map='MyMap' ui-options='mapOptions' ui-event='{ "map-click": "addMarker($event, $params)"}'>
  	                    </div>   
                        
                        <div class="col-lg-12" ng-if="locations.length > 0">
                          <br />
                          <h2 class="text-center">Locations</h2>
                          <div class="table-responsive">
                              <table class="table table-condensed table-hover">
                                  <thead>
                                    <tr>
                                      <th>Name</th> <!--Block Name-->
                                      <th>Block Label</th>
                                      <th>Latitude</th>
                                      <th>Longitude</th>
                                      <th>Altitude</th>
                                      <th>Offset</th>
                                      <th>Delete</th>
                                    </tr>
                                  </thead>
                                  <tbody ui-sortable ng-model="locations">
                                    <tr ng-repeat="location in locations" style="cursor: move;">
                                      <!--<td><input type="text" name="fname" value={{block.name}}/></td>-->
                                      <td>{{location.name}}</td>
                                      <td>{{location.label}}</td>
                                      <td>{{location.lat}}</td>
                                      <td>{{location.lon}}</td>
                                      <td>{{location.altitude}}</td>
                                      <td><input class="adj text-center" type="text" name="fname" value="0.1" ng-model="location.adj"/></td> 
                                      <td ng-click="removeLocation($index)" style="cursor: pointer;">X</td>
                                    </tr>                             
                                  </tbody>
                                </table>
                              </div>
                        </div>                        
                        

                      </div> <!-- when="0" -->
                      <div ng-switch-when="1"> <!-- Daily Predictions -->
                        <div class="col-lg-12">
                          <h5>Not Simple</h5>
                        </div>
                      </div> <!-- when="1" -->
                      <div ng-switch-when="2"> <!-- Prediction History -->
                        <div class="col-lg-12">
                          <div class="table-responsive" ng-if="blocks.length > 0">
                              <table class="table table-condensed table-hover">
                                  <thead>
                                    <tr>
                                      <th>Date</th>
                                      <th>Zipcode</th> <!--Block Name-->
                                      <th>Latitude</th>
                                      <th>Longitude</th>
                                      <th>1D RAW</th>
                                      <th>2D RAW</th>
                                      <th>3D RAW</th>
                                      <th>4D RAW</th> 
                                      <th>Offset</th>
                                      <th>1D ADJ</th>
                                      <th>2D ADJ</th>
                                      <th>3D ADJ</th>
                                      <th>4D ADJ</th>  
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="block in blocks">
                                      <!--<td><input type="text" name="fname" value={{block.name}}/></td>-->
                                      <td>{{block.date | date:'shortDate'}}</td>
                                      <td>{{block.zipcode}}</td>
                                      <td>{{block.lat}}</td>
                                      <td>{{block.lon}}</td>
                                      <td>{{block.prediction1}}"</td>
                                      <td>{{block.prediction2}}"</td>
                                      <td>{{block.prediction3}}"</td>
                                      <td>{{block.prediction4}}"</td>
                                      <td><input class="adj text-center" type="text" name="fname" value="0.1" ng-model="block.adj"/></td> 
                                      <td>{{block.prediction1 + block.adj}}"</td>
                                      <td>{{block.prediction2 + block.adj}}"</td>  
                                      <td>{{block.prediction3 + block.adj}}"</td>
                                      <td>{{block.prediction4 + block.adj}}"</td>
                                    </tr>                             
                                  </tbody>
                                </table>
                              </div>
                        </div>
                      </div> <!-- when="2" -->        
                  </div>      
                    
            </div>
        </div>
   
   
   
   
<!--        
        <h6><code>rotate</code> set to <code>false</code>:</h6>
        <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
-->

<!-- this is here for experimenting with decimal entry. need to extract this into sub module
                        <form name="myForm" class="form-horizontal" >
                            <div class="form-group" ng-class="{'has-error': myForm.myDecimal.$invalid}">
                                  <label for="inputText3" class="col-sm-2 control-label">Decimal Test</label>
                                  <div class="col-sm-10">
                                      <input type="number" class="form-control" name="myDecimal" placeholder="Decimal" ng-model="myDecimal" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required />
                      
                                      <span class="help-block" ng-show="!myForm.myDecimal.$valid">
                                          Invalid!
                                      </span>
                                  </div>
                              </div>
                      
                              <div class="form-group" >
                                  <label for="inputText3" class="col-sm-2 control-label">The value:</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" ng-model="myDecimal" disabled />
                              </div>
                           </div>
                        </form> 
-->


        
    </div>
    <!-- /#page-content-wrapper -->
  
  </div>
</div>  