<div ng-show="loggedIn">
  

  <!--<nav class="navbar navbar-default third-header">-->
  <!--  <div class="container-fluid">-->
      <!-- Collect the nav links, forms, and other content for toggling -->
  <!--    <div>-->
  <!--      <ul class="nav navbar-nav pull-left">-->
  <!--        <li><a>Manage Locations</a></li>-->
  <!--        <li><a>Daily Prediction</a></li>-->
  <!--        <li><a>Prediction History</a></li>-->
  <!--      </ul>        -->
  <!--    </div>-->
  <!--  </div>-->
  <!--</nav>-->
  
  <div class="container">

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="xyz"> <!-- container-fluid -->
            <div class="row">
  
                <div class="pull-left">
                      <form ng-submit="findLocation()" class="form-inline">
                        <div class="form-group">
                          <input id="search_box" type="text" class="form-control" placeholder="Enter address or zipcode or lat,lon to get started" ng-model="input">
                        </div>
                        <button ng-click="findLocation()" type="button" class="btn btn-default">
                          <span id="search_button" class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </form>    
                  </div>                      
                <div class="row well">
                  <div id='map_canvas' class='map col-lg-8 pull-left' ui-map='myMap' ui-options='mapOptions' ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }">      <!--'{ "map-click": "addMarker($event, $params)"}'>-->
                  </div>
                </div>
                
                
                                                  
      

                
                <div ng-show="showLocationDetails" class="hide-mobile-tablet">
                   <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="inputType" class="col-md-1 control-label">Ranch</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" id="inputType" placeholder="Type" ng-model="location.ranch">
                        </div>
                        <label for="inputType" class="col-md-1 control-label">Block</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" id="inputType" placeholder="Type" ng-model="location.name">
                        </div>
                        <label for="inputType" class="col-md-1 control-label">Latitude</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" id="inputType" placeholder="Type" ng-model="location.lat">
                        </div>
                        <label for="inputType" class="col-md-1 control-label">Longitude</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" id="inputType" placeholder="Type" ng-model="location.lon">
                        </div>      
                      <!--</div>-->
                      <!--<div class="form-group">-->
                              <!--<div class="form-group row">-->
                                  <label for="inputKey" class="col-md-1 control-label">Altitude</label>
                                  <div class="col-md-1">
                                      <input type="text" class="form-control" id="inputKey" placeholder="" ng-model="location.altitude">
                                  </div>
                                  <label for="inputValue" class="col-md-1 control-label">ETc Adj</label>
                                  <div class="col-md-1">
                                      <input type="text" class="form-control" id="inputValue" placeholder="" ng-model="location.adj">
                                  </div>
                                  
                                  
<div class="col-md-1">                                  
  <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Crop
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a>Corn</a></li>
            <li><a>Almonds</a></li>
            <li><a>Oranges</a></li>
        </ul>
  </div>
</div>
                                  
                                  
                                  <div class="col-md-1">
                                    <button ng-click="addLocation()">Add Location</button>
                                  </div>
                                  <div class="col-md-1">
                                    <button ng-click="cancelAddLocation()">Cancel</button>
                                  </div>                                  
                              <!--</div>-->
                      </div>
                  </form>
                  <hr />
                </div>
              
                <div ng-show="dailies.length > 0" class="row well"> <!--col-lg-12">-->
                  <h3>ETc Daily Update</h3>
                    <div class="table-responsive">
                          <table class="table table-condensed table-hover">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Ranch</th>
                                <th>Block</th>
                                <th>Crop</th>
                                <th>4 Day ETo Prediction</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="block in dailies">
                                <td>{{block.date | date:'shortDate'}}</td>
                                <td>{{block.ranch}}</td>
                                <td>{{block.name}}</td>
                                <td>{{block.crop}}</td>
                                <td>{{block.fourDayETo_prediction}}"</td>
                              </tr>                             
                            </tbody>
                          </table>
                    </div>
                  </div>
                
                <div ng-show="history.length > 0" class="well">
                  <ul class="nav nav-tabs">
                    <li ng-class="{ 'active': showGraph }" class="active"><a ng-click="showGraph=true">Graph</a></li>
                    <li ng-class="{ 'active': !showGraph }"><a ng-click="showGraph=false">Table</a></li>
                  </ul>
                  <h3>ETc History</h3> 

                  <div ng-show="showGraph==true"> <!--"history.length > 0" class="well">-->
                    <canvas id="line" class="chart chart-line" chart-data="data"
                      chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" >
                    </canvas> 
                  </div>
                
                  <div ng-show="showGraph==false"> <!--history.length > 0" class="well col-lg-12">-->
                    <!--<div class="col-lg-offset-8 col-lg-4">
                    <nav>
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav> 
                  </div>-->
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>4d ETo Prediction</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="block in history track by $index"> <!--blocks">-->
                                <!--<td><input type="text" name="fname" value={{block.name}}/></td>-->
                                <td>{{block.date | date:'shortDate'}}</td>
                                <td>{{block.name}}</td>
                                <td>{{block.fourDayETo_prediction}}"</td>
                                <!--<td><input class="adj text-center" type="text" name="fname" value="0.1" ng-model="block.adj"/></td> -->
                              </tr>                             
                            </tbody>
                          </table>
                    </div>
                  </div>

                </div>
                
                <div class="col-lg-12 well" ng-if="locations.length > 0">
                  <br />
                  <h3>Tracked Locations</h3>
                  <div class="table-responsive">
                      <table class="table table-condensed table-hover">
                          <thead>
                            <tr>
                              <th>Name</th> <!--Block Name-->
                              <!--<th>Block Label</th>-->
                              <th>Latitude</th>
                              <th>Longitude</th>
                              <th>Altitude</th>
                              <th>Offset</th>
                              <th>Delete</th>
                            </tr>
                          </thead>
                          <tbody ui-sortable ng-model="locations">
                            <tr ng-repeat="location in locations" style="cursor: move;">
                              <!--<td><input type="text" name="fname" value={{block.name}}/></td>-->
                              <td>{{location.name}}</td>
                              <!--<td>{{location.label}}</td>-->
                              <td>{{location.lat}}</td>
                              <td>{{location.lon}}</td>
                              <td><input class="adj text-center" type="text" name="fname" value="0.1" ng-model="location.altitude"/></td> 
                              <td><input class="adj text-center" type="text" name="fname" value="0.1" ng-model="location.adj"/></td> 
                              <td ng-click="removeLocation($index)" style="cursor: pointer;">X</td>
                            </tr>                             
                          </tbody>
                        </table>
                  </div>
                </div>                  
                  
            </div>
        </div>
   
   
<!--        
        <h6><code>rotate</code> set to <code>false</code>:</h6>
        <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
-->

<!-- this is here for experimenting with decimal entry. need to extract this into sub module
                        <form name="myForm" class="form-horizontal" >
                            <div class="form-group" ng-class="{'has-error': myForm.myDecimal.$invalid}">
                                  <label for="inputText3" class="col-sm-2 control-label">Decimal Test</label>
                                  <div class="col-sm-10">
                                      <input type="number" class="form-control" name="myDecimal" placeholder="Decimal" ng-model="myDecimal" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required />
                      
                                      <span class="help-block" ng-show="!myForm.myDecimal.$valid">
                                          Invalid!
                                      </span>
                                  </div>
                              </div>
                      
                              <div class="form-group" >
                                  <label for="inputText3" class="col-sm-2 control-label">The value:</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" ng-model="myDecimal" disabled />
                              </div>
                           </div>
                        </form> 
-->


        
    </div>
    <!-- /#page-content-wrapper -->
  
  </div>
</div>  