<nav class="navbar navbar-default third-header">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      <ul class="nav navbar-nav pull-left">
        <li><a id="third-header-title" href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid xyz">
    <div class="row">
      <div class="col-lg-12">
        <p>This is the contact view.</p>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->


