<nav class="navbar navbar-default third-header">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      <ul class="nav navbar-nav pull-left">
        <li><a id="third-header-title">Dashboard</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid xyz">
    <div class="row">
      <div class="col-lg-6">
        <h4>[Farm Diagram Top-View goes here]</h4>
      </div>
      <div class="col-lg-6">
        <h4>[Google Local Weather Report goes here]</h4>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6">
        <h4>Alerts</h4>
        <p>Indian Block 13W is below refill point</p>
        <p>Indian Block 11W scheduled for 1.5"</p>
        <p>Indian Block 10S irrigation duration 4.5 hours</p>
        <p>Indian Block 13W irrigation duration 2.5 hours</p>
      </div>
      <div class="col-lg-6">
        <h4>News feed</h4>
        <p>Agrium Earnings Beat Estimates as Crop-Nutrient Volumes Rise 1/26/16 05:22 PM</p>
        <p>Agrium Earnings Beat Estimates as Crop-Nutrient Volumes Rise 1/26/16 05:22 PM</p>
        <p>Agrium Earnings Beat Estimates as Crop-Nutrient Volumes Rise 1/26/16 05:22 PM</p>
        <p>Agrium Earnings Beat Estimates as Crop-Nutrient Volumes Rise 1/26/16 05:22 PM</p>
      </div>
    </div>    
    
    <div class="row">
      <div class="col-lg-6">
        <h4>[Square Heat Map goes here]</h4>
      </div>

    </div>     
    
    
  </div>
</div>
<!-- /#page-content-wrapper -->
