<nav class="navbar navbar-default third-header">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      <ul class="nav navbar-nav pull-left">
        <li><a id="third-header-title">Irrigation Planning</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">

                     <div class="table-responsive">
                      <table class="table table-condensed table-hover">
                          <thead>
                            <tr>
                              <th></th>
                              <th></th>
                              <th>7d ETo (inches)</th>
                              <th>7d ETc (inches)</th>
                              <th>7d SM (inches)</th>
                              <th>KC</th>
                              <th>Hours to FC (hours)</th>
                              <th>Adjustment</th>
                              <th>Schedule (hours)</th>
                              <th>Frequency</th> 
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Indian</td>
                              <td>22</td>
                              <td>1.6</td>
                              <td>1.5</td>
                              <td>1.3</td>
                              <td><input type="text" name="fname" value="0.87"/></td>
                              <td>16.5</td>
                              <td><input type="text" name="fname" value="0"/></td>
                              <td>16.5</td>
                              <td><input type="text" name="fname" value="2"/></td>
                            </tr>                          
                            <tr>
                              <td>Indian</td>
                              <td>22</td>
                              <td>1.6</td>
                              <td>1.5</td>
                              <td>1.3</td>
                              <td><input type="text" name="fname" value="0.87"/></td>
                              <td>16.5</td>
                              <td><input type="text" name="fname" value="0"/></td>
                              <td>16.5</td>
                              <td><input type="text" name="fname" value="2"/></td>
                            </tr> 
                            <tr>
                              <td>Indian</td>
                              <td>22</td>
                              <td>1.6</td>
                              <td>1.5</td>
                              <td>1.3</td>
                              <td><input type="text" name="fname" value="0.87"/></td>
                              <td>16.5</td>
                              <td><input type="text" name="fname" value="0"/></td>
                              <td>16.5</td>
                              <td><input type="text" name="fname" value="2"/></td>
                            </tr> 
                            <tr>
                              <td>Indian</td>
                              <td>22</td>
                              <td>1.6</td>
                              <td>1.5</td>
                              <td>1.3</td>
                              <td><input type="text" name="fname" value="0.87"/></td>
                              <td>16.5</td>
                              <td><input type="text" name="fname" value="0"/></td>
                              <td>16.5</td>
                              <td><input type="text" name="fname" value="2"/></td>
                            </tr> 
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
