

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid xyz">
    <div class="row">
      
      <div class="col-lg-offset-1 col-lg-4 col-md-5">
      
       
       <div class="well well-lg">
        <h3 class="text-center">Log In</h3> 
        <br/>
        <form>
          <div class="form-group">
            <label>Email: </label>
            <input type="email" class="form-control" ng-model="user.email">
          </div>
          <div class="form-group">
            <label>Password: </label>
            <input type="password" class="form-control" ng-model="user.password">
          </div>

          <button ng-click="signup()" class="btn btn-default">Log In</button>
        </form>         
       </div> 
        
      </div>      
      <div class="col-lg-1 col-md-1">
        <br class="hide-mobile-tablet"/>
        <br class="hide-mobile-tablet"/>
        <br class="hide-mobile-tablet"/>
        <br class="hide-mobile-tablet"/>
        <br class="hide-mobile-tablet"/>        
        <h1 class="text-center">OR</h1>
      </div>
      <div class="col-lg-4 col-md-5">
        
       <div class="well well-lg">
        <h3 class="text-center">Sign Up For A Free Account</h3> 
        <br/>
        <form>
          <div class="form-group">
            <label>First Name: </label>
            <input type="text" class="form-control" ng-model="user.firstname">
          </div>    
          <div class="form-group">
            <label>Last Name: </label>
            <input type="text" class="form-control" ng-model="user.lastname">
          </div>   
          <div class="form-group">
            <label>Email: </label>
            <input type="email" class="form-control" ng-model="user.email">
          </div>
          <div class="form-group">
            <label>Phone: </label>
            <input type="text" class="form-control" ng-model="user.phone">
          </div>          
          <div class="form-group">
            <label>Password: </label>
            <input type="password" class="form-control" ng-model="user.password">
          </div>
          <div class="form-group">
            <label>Confirm Password: </label>
            <input type="password" class="form-control" ng-model="user.confirm">
          </div>          

          <button ng-click="signup()" class="btn btn-default">Create My Account</button>
        </form>         
       </div> 
        
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
